<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <h1><a href="{{ url_for('home') }}" style="color: white; text-decoration: none;">Company Name</a></h1>
        <ul>
            <li><a href="{{ url_for('show_categories') }}">Catagories</a></li>
            <li><a href="{{ url_for('all_orders') }}">Orders</a></li>
            <li><a href="{{ url_for('show_products') }}">Products</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock%}
</body>
</html>
